
<f:render partial="Styleguide/Menu" arguments="{rootSectionGroups:rootSectionGroups}" />

<f:for each="{sections}" as="section">
  <hr>
  <f:link.action action="index" arguments="{section: section.identifier, sectionGroup: section.sectionGroup.identifier}">
    <h1>{section.title}</h1>
  </f:link.action>
  <strong class="dev-state-{section.sectionConfiguration.developmentState}">
    Development state: {section.sectionConfiguration.developmentState}
  </strong>
  <f:if condition="{section.usage}">
  <h3>Usage:</h3>
    <ul>
      <f:for each="{section.usage}" as="usedSection">
        <li>
          <f:link.action action="index" arguments="{section: usedSection.identifier, sectionGroup: usedSection.sectionGroup.identifier}">
            {usedSection.title}
          </f:link.action>
        </li>
      </f:for>
    </ul>
  </f:if>
  <f:if condition="{section.sectionConfiguration.componentDoc}">
    <p>{section.sectionConfiguration.componentDoc}</p>
  </f:if>
  <hr>
  <f:format.raw>{section.html}</f:format.raw>
  <f:if condition="{section.sectionConfiguration.renderCodeBlock}">
    <pre class="line-numbers"><code class="language-markup">{section.html}</code></pre>
  </f:if>
</f:for>

<f:section name="FooterAssets">
  <link rel="stylesheet" href="{f:uri.resource(path: 'Css/prism.css')}">
  <link rel="stylesheet" href="{f:uri.resource(path: 'Css/styleguide.css')}">
  <script src="{f:uri.resource(path: 'Js/prism.js')}"></script>
</f:section>