
<f:render partial="Styleguide/Menu" arguments="{rootSectionGroups:rootSectionGroups}" />

<f:for each="{sections}" as="section">
  <hr>
  <f:link.action action="index" arguments="{section: section.identifier, sectionGroup: section.sectionGroup.identifier}">
    <h1>{section.title}</h1>
  </f:link.action>
  <hr>
  <f:format.raw>{section.html}</f:format.raw>
  <f:if condition="{section.renderCodeBlock}">
    <pre class="line-numbers"><code class="language-markup">{section.html}</code></pre>
  </f:if>
</f:for>

<link rel="stylesheet" href="/typo3conf/ext/fluid_styleguide/Resources/Public/Css/prism.css">
<link rel="stylesheet" href="/typo3conf/ext/fluid_styleguide/Resources/Public/Css/styleguide.css">
<script src="/typo3conf/ext/fluid_styleguide/Resources/Public/Js/prism.js"></script>
